// de mixins
// grid-template-columns
@mixin grid-tc($waarde){
   -webkit-grid-template-columns: $waarde;
      -moz-grid-template-columns: $waarde;
       -ms-grid-template-columns: $waarde;
        -o-grid-template-columns: $waarde;
           grid-template-columns: $waarde;
}